@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<TableGrid TGridItem="City" Items="CityDataProvider.Cities">
    <GridColumn TGridItem="City" Title="Country">
        @context.Country
    </GridColumn>
    <GridColumn TGridItem="City" Title="City">
        @context.Name
    </GridColumn>
    <GridColumn TGridItem="City" Title="Actions" Class="text-end">
        <button class="btn btn-primary" @onclick="() => this.Edit(context.Name)" >Edit</button>
    </GridColumn>
</TableGrid>

@code {
    private void Edit(string name) {}
}
