@page "/"
@inject WeatherForecastService Service

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<TableGrid TGridItem="WeatherForecast" Items="_weatherForecasts">
    <GridColumn TGridItem="WeatherForecast" Title="Date">
        @context.Date
    </GridColumn>
    <GridColumn TGridItem="WeatherForecast" Title="Temp &deg;C">
        @context.TemperatureC
    </GridColumn>
    <GridColumn TGridItem="WeatherForecast" Title="Temp &deg;F">
        @context.TemperatureF
    </GridColumn>
    <GridColumn TGridItem="WeatherForecast" Title="Summary">
        @context.Summary
    </GridColumn>
    <GridColumn TGridItem="WeatherForecast" Title="Actions" Class="text-end">
        <button class="btn btn-primary" @onclick="() => this.Edit(context.Uid)" >Edit</button>
    </GridColumn>
</TableGrid>

@code {
    private IEnumerable<WeatherForecast> _weatherForecasts = Enumerable.Empty<WeatherForecast>();

    protected override async Task OnInitializedAsync()
    {
        _weatherForecasts = await Service.GetForecastsAsync();
    }

    private void Edit(Guid uid) {}
}
